body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    background-color: rgb(12, 12, 105); 
    color: white;
}

#quote {
    font-weight: bold;
    font-style:italic;
    font-size: 28pt;
    margin: 15px;
}

#author {
    font-weight: bold;
    font-size: 16pt;
}